
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  </head>

  {% for notification in notifications %}
  <div class="{% if notification.unread %}unread-notification{% else %}read-notification{% endif %}">
      {% if notification.target_object_id %}
          <a href="{% url 'tasks:task_detail' notification.target_object_id %}">{{ notification }}</a>
      {% else %}
          Удалено: {{ notification.description }}
      {% endif %}
  </div>
{% endfor %}
