{% extends 'baseindex.html' %}


{% block content %}


<h1>{{ greeting }}</h1>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Список задач</h5>
      <table class="table table-striped">
        
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Задача</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Крайний срок</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr class="{% if task.completed %}table-success{% endif %}">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.worker }}</td>
            <td><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.created_at|date:"Y-m-d H:i" }}</td>
            <td> {{ task.deadline|date:"Y-m-d H:i" }}</td></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Нет задач.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}


{% comment %} {% extends 'base.html' %}

{% block content%}

<h1> {{ greeting }} <br> </h1>

{% for task in tasks %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.content }}</a></h5></p> 
    Создал {{ task.created_by }}
    <p class="card-text">Работник: {{ task.worker }}</p>
    <p class="card-text">Дата создания: {{ task.created_at|date:"Y-m-d H:i:s" }}</p>
    <div class="d-flex justify-content-end">
      <form method="GET" action="{% url 'tasks:update_task' task.pk %}">
        <button type="submit" class="btn btn-info">Редактировать задачу</button>
      </form>
      {% if task.created_by == user %}
      <form method="GET" action="{% url 'tasks:delete_task' task.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger ml-2">Удалить</button>
      </form>
      {% endif %}
    </div>
</div>
</div>
{% endfor %}
{% endblock content%} {% endcomment %}