{% extends 'base.html' %}


{% block content %}


<h1></h1>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Список задач</h5>
      <form action="" method="get">
        <div class="form-group">
          <label for="sort_by">Сортировать по:</label>
          <select name="sort_by" id="sort_by" class="form-control">
            <option value="created_at">Дате создания</option>
            <option value="completed">Статусу</option>
            <option value="worker">Исполнитель</option>
            <option value="created_by">Заказчик</option>
            <option value="deadline">Дедлайн</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Применить</button>
      </form>
      <table class="table">
        
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Задача</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Крайний срок</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr class="{% if task.completed %}table-success{% endif %}">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.worker }}</td>
            <td><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.created_at|date:"Y-m-d H:i" }}</td>
            <td> {{ task.deadline|date:"Y-m-d H:i" }}</td></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Нет задач.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}