{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h2>{{ task_execution.title }}</h2>
    </div>
    <div class="card-body">
      <!-- Вывод информации о выполнении задачи -->
      <div><strong>Создано:</strong> {{ task_execution.created_at|date:"d.m.Y H:i" }}</div>
      <div><strong>Работы:</strong> {{ task_execution.description }}</div>

      <!-- Отображение файлов -->
      <div class="row mt-3">
        <div class="col-md-3"><strong>Файлы:</strong></div>
        <div class="col-md-9">
          {% if task_execution.files %}
            <ul>
              {% for file in task_execution.files %}
                <li><a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            Нет загруженных файлов
          {% endif %}
        </div>
      </div>
      
      <!-- Добавьте другие поля, если это необходимо -->
    </div>
  </div>
</div>
{% endblock %}