{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h2>{{ task_execution.title }}</h2>
    </div>
    <div class="card-body">
      <!-- Вывод информации о выполнении задачи -->
      <div><strong>Создано:</strong> {{ task_execution.created_at|date:"d.m.Y H:i" }}</div>
      <div><strong>Работы:</strong> {{ task_execution.description }}</div>
      <a href="{% url 'tasks:update_task_execution' task_execution.pk %}" class="btn btn-primary">Редактировать</a>
      <a href="{% url 'tasks:delete_task_execution' task_execution.pk %}" class="btn btn-danger">Удалить</a>
      <!-- Добавьте другие поля, если это необходимо -->
    </div>
  </div>
</div>
{% endblock %}