{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h2>{{ task.title }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3"><strong>Создано:</strong></div>
        <div class="col-md-9">{{ task.created_at|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Задачу предоставил:</strong></div>
        <div class="col-md-9">{{ task.created_by }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Работнику:</strong></div>
        <div class="col-md-9">{{ task.worker }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Описание задачи:</strong></div>
        <div class="col-md-9">{{ task.description }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Крайний срок выполнения:</strong></div>
        <div class="col-md-9">{{ task.deadline|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Статус:</strong></div>
        <div class="col-md-9">{{ task.completed }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Дата завершения:</strong></div>
        <div class="col-md-9">{{ task.completed_at|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>История выполнения:</strong></div>
        <div class="col-md-9">
            {% if task.taskexecution_set.all %}
                <ul>
                    {% for task_execution in task.taskexecution_set.all %}
                        <li><a href="{% url 'tasks:task_execution_detail' pk=task_execution.pk %}">{{ task_execution.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>У этой задачи нет истории выполнения.</p>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <form method="post" action="{% url 'tasks:task_detail' task.id %}">
        {% csrf_token %}
        <a href="{% url 'tasks:task_execution_create' task.id %}" class="btn btn-primary">Добавить этап выполнения</a>
        {% if task.completed %}
          <button type="submit" class="btn btn-danger">Отменить выполнение</button>
        {% else %}
          <button type="submit" class="btn btn-success">Завершить задачу</button>
        {% endif %}
      </form>
      <a href="{% url 'tasks:update_task' task.pk %}" class="btn btn-primary">Редактировать</a>
      {% if task.created_by == user %}
      <form method="GET" action="{% url 'tasks:delete_task' task.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger ml-2">Удалить</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-3">
  {% for task_execution in task.taskexecution_set.all %}
    <div class="card mt-3">
      <div class="card-header">
        <h4>{{ task_execution.title }}</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">{{ task_execution.description }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-3">Создано:</div>
          <div class="col-md-9">{{ task_execution.created_at|date:"d.m.Y H:i" }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
