{% extends 'base.html' %}

{% block content %}
<div class="container">
  <p><h5>{{ task_execution.title }}</h5></p>
  <div class="card">
    <div class="card-body">
      <!-- Вывод информации о выполнении задачи -->
      <p><strong>Создано:</strong> {{ task_execution.created_at|date:"d.m.Y H:i" }}</p>
      <p><strong>Работы:</strong> {{ task_execution.description }}</p>

      <!-- Отображение файлов -->
      <div class="row mt-3">
      <strong>Файлы:</strong>
          {% if task_execution.files %}
            <ul>
              {% for file in task_execution.files %}
                <li><a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            <p> Нет загруженных файлов</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}