{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
  <h2>Create Task Execution</h2>
  <form method="post" action="{% url 'tasks:task_execution_create' task.id %}" enctype="multipart/form-data" id="taskExecutionForm">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="task" value="{{ task.id }}" />
    <div id="fileInputs"></div>
    <button type="button" class="btn btn-secondary" id="addFileInput">Добавить файл</button>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>

  {% block extra_js %}
  {% load static %}
  <script src="{% static 'js/file_upload.js' %}"></script>
  {% endblock %}
{% endblock %}
