{% extends 'base.html' %} 
{% block content %} 
{% load static %} 
  
<p><h5>Задача: {{ task.title }}</h5></p>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3"><strong>Создано:</strong></div>
        <div class="col-md-9">{{ task.created_at|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Задачу предоставил:</strong></div>
        <div class="col-md-9">{{ task.created_by }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Работнику:</strong></div>
        <div class="col-md-9">{{ task.worker }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Описание задачи:</strong></div>
        <div class="col-md-9">{{ task.description }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Крайний срок выполнения:</strong></div>
        <div class="col-md-9">{{ task.deadline|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Статус:</strong></div>
        <div class="col-md-9">{{ task.completed }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Дата завершения:</strong></div>
        <div class="col-md-9">{{ task.completed_at|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Файлы:</strong></div>
        <div class="col-md-9">
          {% if task.files.all %}
            <ul>
              {% for file in task.files.all %}
                <li>
                  <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %} 
            Нет загруженных файлов 
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>История выполнения:</strong></div>
        <div class="col-md-9">
          <ul id="task-execution-list">
            {% for task_execution in task.taskexecution_set.all %}
              <li>
                <a href="{% url 'tasks:task_execution_detail' pk=task_execution.pk %}">{{ task_execution.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <p id="no-history-msg" {% if task.taskexecution_set.all %}style="display: none;"{% endif %}>
            У этой задачи нет истории выполнения.
          </p>
        </div>
      </div>

      {% include 'includes/tasks/detail_buttons.html' %} 
    </div>
  </div>
      {% with task.taskexecution_set.all as task_executions %} 
        {% if task_executions %} 
          {% include 'includes/tasks/task_history_detail.html' %} 
        {% endif %} 
      {% endwith %} 
      {% include 'includes/tasks/task_execution_form_create.html' %}
    
  </div>
{% endblock %}
