{% extends 'base.html' %} 
{% block title %}Создание задачи{% endblock %} 

{% block content %}
{% load static %} 
{% load crispy_forms_tags %}
<p></p>
<p><h5>Создание задачи</h5>
{% include 'includes/back_button.html' %}
<form method="post" enctype="multipart/form-data" id="taskForm" class="form">
  {% csrf_token %} {{ form|crispy }}
  
  <div class="form-group" id="fileInputs">
    <!-- Дополнительные поля для файлов -->
  </div>

  <div class="form-group">
    <button type="button" id="addFileInput" class="btn btn-secondary">
      Добавить файл
    </button>
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary">Создать</button>
  </div>
</form>

{% load static %}
<script src="{% static 'js/choice_worker.js' %}"></script>
<script src="{% static 'js/file_input_script.js' %}"></script>
{% endblock %}
