{% extends "base.html" %}

{% block content %}
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Имя пользователя:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

