{% extends 'base.html' %}

{% block content %}
    <div class="profile-container">
        <h1>Профиль пользователя</h1>
        <p><strong>Имя:</strong> {{ profile.name }}</p>
        <p><strong>Фамилия:</strong> {{ profile.surname }}</p>
        <p><strong>Почта:</strong> {{ profile.email }}</p>
        <p><strong>Дата рождения</strong> {{ profile.birth_date }}</p>
        <p><strong>Телефон</strong> {{ profile.phone }}</p>
        <!-- Добавьте остальные поля профиля, которые вы хотите отобразить -->
    </div>
    
    {% include 'includes/calendar.html' %}
{% endblock %}