{% extends 'base.html' %} {% block content %}
<style>
  /* Стили для фиксации высоты страницы и прокрутки */
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: calc(100% - 60px);
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>

  <p><h2>Редактировать тариф</h2></p>
  <div class="scrollable-container">
      <form method="post" action="{% url 'prices:edit_price' pk=form.instance.pk %}" class="form">
        {% csrf_token %} {{ form.as_p }}

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">
            Добавить тариф
          </button>
        </div>  
      </form>
    </div>

{% endblock content %}
