<div class="table-wrapper mt-2" style="height: 87vh;">
    <form action="{% url 'contracts:contract_index' %}" method="get" class="form-inline" id="sortForm">
        {% csrf_token %}
        <div class="form-group mr-2">
            <label for="sort_by" class="mr-2 btn-sm">Сортировать по:</label>
            <select name="sort_by" id="sort_by" class="form-control form-control-sm fixed-width">
                <option value="id" {% if sort_by == "id" %}selected{% endif %}>ID</option>
                <option value="client" {% if sort_by == "client" %}selected{% endif %}>Клиенту</option>
                <option value="car" {% if sort_by == "car" %}selected{% endif %}>Автомобилю</option>
                <option value="start_date" {% if sort_by == "start_date" %}selected{% endif %}>Началу аренды</option>
            </select>
            <label for="search" class="mr-2 btn-sm">Поиск:</label>
            <input type="text" name="search" id="search" class="form-control form-control-sm" placeholder="Слово для поиска">
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Клиент</th>
                <th scope="col">Автомобиль</th>
                <th scope="col">Тариф</th>
                <th scope="col">Начало аренды</th>
                <th scope="col">Окончание аренды</th>
                <th scope="col">Длительность (дни)</th>
                <th scope="col">Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>
                        <a href="{% url 'contracts:contract_detail' pk=contract.pk %}">{{ contract.id }}</a>
                    </td>
                    <td>{{ contract.client }}</td>
                    <td>{{ contract.car }}</td>
                    <td>{{ contract.tariff }}</td>
                    <td>{{ contract.start_date|date:"d.m.Y H:i" }}</td>
                    <td>{{ contract.end_date|date:"d.m.Y H:i" }}</td>
                    <td>{{ contract.rental_days }}</td>
                    <td>{{ contract.amount }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">Нет договоров.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'js/sort.js' %}"></script>


