{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>

  <p><h5>Добавить клиента</h5></p>
  <div class="scrollable-container">
      <form
        method="post"
        action="{% url 'clients:create_client' %}"
        
        class="form"
      >
        {% csrf_token %}
        {% crispy form %}
        
  </div>

{% endblock content %}
