{% extends 'base.html' %} {% block content %}
<style>
  /* Стили для фиксации высоты страницы и прокрутки */
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: calc(100% - 60px);
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>

  <p><h5>Редактировать клиента</h5>
{% include 'includes/back_button.html' %}
  <div class="scrollable-container">
      <form
        method="post"
        action="{% url 'clients:edit_client' pk=form.instance.pk %}"
        class="form"
      >
        {% csrf_token %}
        <div class="form-group">{{ form.name.label_tag }} {{ form.name }}</div>
        <div class="form-group">
          {{ form.surname.label_tag }} {{ form.surname }}
        </div>
        <div class="form-group">
          {{ form.patronomic.label_tag }} {{ form.patronomic }}
        </div>
        <div class="form-group">
          {{ form.birth_date.label_tag }} {{ form.birth_date }}
        </div>
        <div class="form-group">
          {{ form.passport_series_number.label_tag }} {{ form.passport_series_number }}
        </div>
        <div class="form-group">
          {{ form.passport_issue_date.label_tag }} {{ form.passport_issue_date }}
        </div>
        <div class="form-group">
          {{ form.passport_issued_by.label_tag }} {{ form.passport_issued_by }}
        </div>
        <div class="form-group">
          {{ form.address.label_tag }} {{ form.address }}
        </div>
        <div class="form-group">
          {{ form.driving_number.label_tag }} {{ form.driving_number }}
        </div>
        <div class="form-group">
          {{ form.driver_license_issue_date.label_tag }} {{ form.driver_license_issue_date }}
        </div>
        <div class="form-group">
          {{ form.driver_license_valid_until.label_tag }} {{ form.driver_license_valid_until }}
        </div>
        <div class="form-group">
          {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="form-group">
          {{ form.created_at.label_tag }} {{ form.created_at }}
        </div>
        <button type="submit" class="btn btn-primary">
          Сохранить изменения
        </button>
        
      </form>
    </div>

{% endblock content %}
