{% extends 'base.html' %}

{% block content %}

<p><h5>Информация о договоре {{ contract.id }}</h5>
{% include 'includes/back_button.html' %}
<div class="card w-75">
  <div class="card-body">
    <div class="scrollable-container">
      <div class="panel-body no-padding">
        <dl class="dl-horizontal">
          <dt>Клиент</dt>
          <dd>{{ contract.client }}</dd>
          <dt>Автомобиль</dt>
          <dd>{{ contract.car }}</dd>
          <dt>Тариф</dt>
          <dd>{{ contract.tariff }}</dd>
          <dt>Начальная дата</dt>
          <dd>{{ contract.start_date|date:"d.m.Y H:i" }}
          <dd>
          <dt>Конечная дата</dt>
          <dd>{{ contract.end_date|date:"d.m.Y H:i" }}
          <dd>
          <dt>Длительность (дни)</dt>
          <dd>{{ contract.rental_days }}</dd>
          <dt>Сумма</dt>
          <dd>{{ contract.amount }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <a href="{% url 'contracts:contract_edit' pk=contract.pk %}" class="btn btn-primary mr-2">Изменить</a>
    <form method="GET" action="{% url 'contracts:contract_delete' contract.id %}" class="d-flex">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
  </div>
</div>
{% endblock content %}