{% extends 'base.html' %}
{% include 'includes/back_button.html' %}
{% block content %}
{% load crispy_forms_tags %}
{%load static %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: calc(100% - 60px);
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/ajax_car_tariff.js' %}"></script>
<script src="{% static 'js/ajax_end_date_and_price.js' %}"></script>
<script src="{% static 'js/ajax_update_end_date.js' %}"></script>

  <p><h5>Редактирование договора №{{ contract.id }}</h5></p>
  <div class="scrollable-container">
      <form
        method="post"
        action="{% url 'contracts:contract_edit' pk=contract.id %}"
        class="form"
      >
        {% csrf_token %} {% crispy form %}
      </form>
    </div>
{% endblock content %}
