{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<style>
  /* Стили для фиксации высоты страницы и прокрутки */
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: calc(100% - 60px);
    overflow-y: 100%;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Обработчик события выбора автомобиля
  $('#id_car').change(function() {
    var carId = $(this).val(); // Получаем значение выбранного автомобиля

    // Отправляем AJAX-запрос на сервер для получения тарифа машины
    $.ajax({
      url: '/contracts/get_car_tariff/', // URL для получения тарифа машины
      data: {'car_id': carId}, // Параметры запроса
      type: 'GET',
      success: function(response) {
        // Обновляем поле тарифа в форме с полученным значением
        $('#id_tariff').val(response.tariff);
      },
      error: function() {
        alert('Произошла ошибка при получении тарифа машины.');
      }
    });
  });
});

$(document).ready(function() {
  // Обработчик события изменения поля rental_days
  $('#id_rental_days').change(function() {
    var rentalDays = $(this).val(); // Получаем значение выбранного количества суток аренды
    var contractId = $('#id_contract').val(); // Получаем значение id договора (или используйте свой способ получения)
    var start_date_str = $('#id_start_date').val(); // Получаем значение начальной даты (вы можете использовать свой собственный способ получения)

    // Отправляем AJAX-запрос на сервер для получения end_date
    $.ajax({
      url: '/contracts/get_end_date/', // URL для получения end_date
      data: {'rental_days': rentalDays, 'contract_id': contractId, 'start_date': start_date_str}, // Параметры запроса
      type: 'GET',
      success: function(response) {
        // Обновляем поле end_date в форме с полученным значением
        $('#id_end_date').val(response.end_date);
      },
      error: function(xhr, textStatus, errorThrown) {
        console.error(xhr.responseText);
        alert('Произошла ошибка при получении end_date. Подробности в консоли браузера.');
      }
    });
  });
});
</script>


{% include 'includes/grid_area.html' %}
<div class="col-xs-12 col-sm-10">
  <h5>Добавить автомобиль</h5>
  <div class="scrollable-container">
      <div class="panel-body no-padding">
          <form method="post" action="{% url 'contracts:contract_create' %}" class="form">
              {% csrf_token %}
              {% crispy form %}
          </form>
      </div>
  </div>
</div>
{% endblock content %}
