{% extends 'base.html' %} {% block content %}
<style>
  /* Стили для фиксации высоты страницы и прокрутки */
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: calc(100% - 60px);
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>
{% include 'includes/grid_area.html' %}
<div class="col-xs-12 col-sm-10">
  <h2>Редактировать автомобиль</h2>
  <div class="scrollable-container">
    <div class="panel-body no-padding">
      <form method="post" action="{% url 'cars:car_edit' pk=form.instance.pk %}" class="form">
        {% csrf_token %} {{ form.as_p }}

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Сохранить изменения
          </button>
        </div>  
      </form>
    </div>
  </div>
</div>
{% endblock content %}