{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<style>
  /* Стили для фиксации высоты страницы и прокрутки */
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .scrollable-container {
    max-height: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>

  <p><h5>Редактировать автомобиль</h5></p>
  <div class="scrollable-container">
      <form method="post" action="{% url 'cars:car_edit' pk=form.instance.pk %}" class="form">
        {% csrf_token %} {% crispy form %} 
      </form>
    </div>
{% endblock content %}