{% extends 'base.html' %} 
{% block content %} 
<p><h5>Информация об автомобиле {{ car.model }}, номер {{ car.license_plate }}</h5>
{% include 'includes/back_button.html' %}
<div class="card w-75">
  <div class="card-body">
        <dl class="dl-horizontal">
          <dt>Название</dt>
          <dd>{{ car.model }}</dd>
          <dt>Регистрационный знак</dt>
          <dd>{{ car.license_plate }}</dd>
          <dt>Год выпуска</dt>
          <dd>{{ car.year }}</dd>
          <dt>Номер СТС</dt>
          <dd>{{ car.registration_number }}</dd>
          <dt>Дата регистрации</dt>
          <dd>{{ car.registration_date }}</dd>
          <dt>Цвет</dt>
          <dd>{{ car.color }}</dd>
          <dt>Тариф</dt>
          <dd>{{ car.tariff }}</dd>
        </dl>
    </div>
    <div class="d-flex">
      <a href="{% url 'cars:car_edit' pk=car.pk %}" class="btn btn-primary mr-2"
        >Изменить</a
      >
      <form
        method="GET"
        action="{% url 'cars:delete_car' car.id %}"
        class="d-flex"
      >
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
      </form>
    </div>
  </div>
{% endblock content %}
