<div class="table-wrapper mt-2" style="height: 82vh;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Тариф</th>
                <th scope="col">1 сутки</th>
                <th scope="col">2-3 суток</th>
                <th scope="col">4-7 суток</th>
                <th scope="col">8-14 суток</th>
                <th scope="col">15-30 суток</th>
                <th scope="col">Залог</th>
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
                <tr>
                    <td style="width: 100px;">
                        <a href="{% url 'prices:detail_price' pk=price.pk %}">{{ price.tarif_name }}</a>
                    </td>
                    <td>{{ price.price_per_day }}</td>
                    <td>{{ price.price_2_3_days }}</td>
                    <td>{{ price.price_4_7_days }}</td>
                    <td>{{ price.price_8_14_days }}</td>
                    <td>{{ price.price_15_30_days }}</td>
                    <td>{{ price.deposit }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">Нет тарифов.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% load static %}
<script src="{% static 'js/sort.js' %}"></script>

