{% include 'includes/back_button.html' %}
{% include 'includes/prices/sorting_form.html' %}
<div class="table-wrapper mt-2" style="height: 82vh">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Тариф</th>
        <th scope="col">1 сутки</th>
        <th scope="col">2-3 суток</th>
        <th scope="col">4-7 суток</th>
        <th scope="col">8-14 суток</th>
        <th scope="col">15-30 суток</th>
        <th scope="col">Залог</th>
      </tr>
    </thead>
    <tbody>
      {% for price in prices %}
      <tr>
        <td style="width: 30px">
        <a href="{% url 'prices:detail_price' price.pk %}"> {{ price.id }}</td>

        <td style="width: 100px;">
          <a href="#" class="modal-link"
          data-url="{% url 'prices:price_modal' price.pk %}"
          data-target="#tariffModal">{{ price.tarif_name }}</a>
        </td>

        <td>{{ price.price_per_day }}</td>
        <td>{{ price.price_2_3_days }}</td>
        <td>{{ price.price_4_7_days }}</td>
        <td>{{ price.price_8_14_days }}</td>
        <td>{{ price.price_15_30_days }}</td>
        <td>{{ price.deposit }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8">Нет тарифов.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="tariffModal" tabindex="-1" role="dialog" aria-labelledby="tariffModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: #f8f9fa; border: none; border-radius: 0.5rem">
      <div class="modal-header" style="background-color: #007bff; color: #fff">
        <h5 class="modal-title" id="tariffModalLabel">Информация о тарифе</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Сюда будет подставляться информация о тарифе -->
      </div>
      <div class="modal-footer" style="border-top: 1px solid #dee2e6">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'js/sort.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
