<div class="table-wrapper mt-2">
    <form action="{% url 'cars:cars_index' %}" method="get" class="form-inline" id="sortForm">
        {% csrf_token %}
        <div class="form-group mr-2">
            <label for="sort_by" class="mr-2 btn-sm">Сортировать по:</label>
            <select name="sort_by" id="sort_by" class="form-control form-control-sm fixed-width">
                <option value="model" {% if sort_by == "model" %}selected{% endif %}>Марке</option>
                <option value="license_plate" {% if sort_by == "license_plate" %}selected{% endif %}>Регистрационному знаку</option>
                <option value="year" {% if sort_by == "year" %}selected{% endif %}>Году выпуска</option>
            </select>
            <label for="search" class="mr-2 btn-sm">Поиск:</label>
            <input type="text" name="search" id="search" class="form-control form-control-sm" placeholder="Госномер авто">
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" data-sort="model">Марка</th>
                <th scope="col" data-sort="license_plate">Регистрационный знак</th>
                <th scope="col" data-sort="year">Год выпуска</th>
            </tr>
</thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td style="width: 100px;">
                        <a href="{% url 'cars:car_detail' pk=car.pk %}">{{ car.model }}</a>
                    </td>
                    <td style="width: 100px;">{{ car.license_plate }}</td>
                    <td style="width: 100px;">{{ car.year }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет машин.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'js/sort.js' %}"></script>
<script src="{% static 'js/sort_table_heads.js' %}"></script>