<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Your Page Title</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1;
    }

    footer {
      background-color: #f8f9fa;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="content">
    <!-- Ваш основной контент здесь -->
  </div>
  <footer>
    <p>&copy; 2023 GLOBAL CRM. Все права защищены.</p>
  </footer>
</body>
</html>

