<div id="grid_area" class="col-xs-12 col-sm-1 static-position" style="width: 50px;">
  <p></p>
  {% load static %}
  <div class="icon-column">
    <a href="{% url 'tasks:all_tasks' %}">
      <img src="{% static 'ico/task_icon.png' %}" alt="Задачи">
    </a>
    <a href="{% url 'clients:index' %}">
      <img src="{% static 'ico/client_icon.png' %}" alt="Клиенты">
    </a>
    <a href="{% url 'cars:cars_index' %}">
      <img src="{% static 'ico/car_icon.png' %}" alt="Cars">
    </a>
    <a href="{% url 'prices:prices_index' %}">
      <img src="{% static 'ico/price_icon.png' %}" alt="Cars">
    </a>
    <a href="{% url 'contracts:contract_index' %}">
      <img src="{% static 'ico/contract_icon.png' %}" alt="Contracts">
    </a>
  </div>
</div>

<style>
  .icon-column {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .icon-column a {
    margin-bottom: 10px;
  }
</style>