<!-- Отображаем форму создания этапа выполнения -->
<div class="card mt-3" id="create-task-execution-form">
    <div class="card-header">
      <h2>Добавить этап выполнения</h2>
    </div>
    <div class="card-body">
      <form
        method="post"
        action="{% url 'tasks:task_execution_create' task.id %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ task_execution_form.as_p }}
        <input type="hidden" name="task" value="{{ task.id }}" />
        <button type="submit" class="btn btn-primary">Добавить</button>
      </form>
    </div>
  </div>