<title>CRM Навигация</title>
<style>
/* CSS стили */
.vertical-nav {
    background-color: #555;
    width: 200px;
    padding: 10px;
    position: relative; /* Добавляем позиционирование для правильной работы z-index */
    z-index: 1000; /* Устанавливаем z-index, чтобы меню находилось поверх всех элементов */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 1.4285em;
    font-size: 12px;
    color: #707478;
    cursor: default;
    box-sizing: inherit;
    left: 0;
    top: 0;
    bottom: 0;
    background: #2d353c;
    z-index: 223;
    -webkit-transform: translateZ(0);
    position: fixed;
    width: 110px;
}

.vertical-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-nav li {
    margin-bottom: 10px;
    position: relative;
}


.vertical-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.vertical-nav a:hover {
    background-color: #555;
}

.dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    background-color: #333;
    z-index: 9999; /* Высокий z-index для выпадающих меню */
}

.vertical-nav li:hover .dropdown {
    display: block;
}

.navbar,
.col-xs-12.col-sm-10.overflow-auto.full-height {
    height: 100vh; /* Растягиваем элементы до нижней границы страницы */
    margin-left: 110px; 
}


</style>
</head>
<body>

<nav class="vertical-nav bg-dark">
    <ul>
        <li><a href="{% url 'tasks:index' %}">Главная</a></li>
        <li><a href="#">Задачи</a>
          <ul class="dropdown">
                  <li><a href="{% url 'tasks:create_task' %}">Новая задача</a></li>
                  <li><a href="{% url 'tasks:all_tasks' %}">Все задачи</a></li>
                  <li><a href="{% url 'tasks:for_me_tasks' %}">Мои дела</a></li>
                  <li><a href="{% url 'tasks:from_me_tasks' %}">Исходящие поручения</a></li>
                  <li><a href="{% url 'tasks:completed_tasks' %}">Выполнено</a></li>
                  
              </ul>
        
        <li><a href="#">Клиенты</a>
            <ul class="dropdown">
                <li><a href="{% url 'clients:create_client' %}">Добавить клиента</a></li>
                <li><a href="{% url 'clients:index' %}">Все клиенты</a></li>
            </ul>
        <li><a href="#">Автомобили</a>
            <ul class="dropdown">
                <li><a href="{% url 'cars:cars_index' %}">Все автомобили</a></li>
                <li><a href="{% url 'cars:create_car' %}">Добавить автомобиль</a></li>
            </ul>
        </li>
        <li><a href="#">Тарифы</a>
            <ul class="dropdown">
                <li><a href="{% url 'prices:prices_index' %}">Все тарифы</a></li>
                <li><a href="{% url 'prices:create_price' %}">Добавить тариф</a></li>
            </ul>
        </li>
        <li><a href="#">Договоры</a>
            <ul class="dropdown">
                <li><a href="{% url 'contracts:contract_index' %}">Все договоры</a></li>
                <li><a href="{% url 'contracts:contract_create' %}">Добавить договор</a></li>
            </ul>
        </li>
        <!-- Добавь здесь другие пункты меню, если нужно -->
    </ul>
      <a class="nav-item" href="{% url 'tasks:view_notifications' %}">Уведомления</a>
</nav>

</body>





