<div class="table-wrapper mt-2" style="height: 82vh;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{% url 'clients:client_detail' pk=client.pk %}">{{ client.surname }}</a>
                    </td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет клиентов.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'js/sort.js' %}"></script>
