/* custom.css */
.table,
table {
    background-color: #ffffff;  
    width: 100%; 
    font-size: 13px; 
}

.card-body {
  font-size: 13px;
}

.table-wrapper {
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
}

.table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;   
}

.body,
body {
    background-color: hsla(264, 3%, 32%, 0.063);
}

a {
    text-decoration: none;
}

.form {
    background-color: white;
  }

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  
.form-inline {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  .form-container {
    height: 100vh /* Фиксированная высота вьюпорта (100% от высоты экрана) */
  }
  
/* Цвет для непрочитанных уведомлений */
.unread-notification {
  background-color: #ffe6e6; 
  color: red; 
}

/* Цвет для прочитанных уведомлений */
.read-notification {
  background-color: #f0f0f0; 
  font-style: italic; 
}


.fixed-width {
  width: 200px !important;
}

.full-height {
  height: 94vh; /* Высота контейнера */
  overflow-y: auto; /* Вертикальная прокрутка */
}

.container.px-5 {
  max-width: 1140px; /* Ширина панели навигации */
  margin-left: auto;
  margin-right: auto;
}

.nav-spacer {
  padding-top: 50px; /* отступы */
}

/* Кнопка назад острые углы */
.sharp-corner {  
  border-radius: 0;
}