<!-- Отображаем форму создания этапа выполнения -->
{% load crispy_forms_tags %} 
<div class="card mt-3" id="create-task-execution-form">
  <div class="card-header">
    <h2>Добавить этап выполнения</h2>
  </div>
  <div class="card-body">
    <form
      method="post"
      action="{% url 'tasks:task_execution_create' task.id %}"
      enctype="multipart/form-data"
      id="taskExecutionForm"
    >
      {% csrf_token %} {{ form|crispy }}
      <input type="hidden" name="task" value="{{ task.id }}" />
      <div id="fileInputs"></div>
      <button type="button" class="btn btn-secondary" id="addFileInput">Добавить файл</button>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>

{% load static %}
<script src="{% static 'js/file_upload.js' %}"></script>
